$header-archor-padding: 15px 10px;
$header-height: 50px;

.c-header {
    &__logo {
        background-image: url('./assets/trips-logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
    }
}
