{{define "navigation"}}
<header class="header">
    <a class="header__logo" href="/">
        {{.Version}}
    </a>
    <nav class="header__navigation">
        <ul class="header__navigation-list">
            <li class="header__navigation-option"
                role="presentation">
                <a href="/">
                    Home
                </a>
            </li>
            {{if .IsLogged}}
            <li class="header__navigation-option"
                role="presentation">
                <a href="/login">
                    Login
                </a>
            </li>
            {{end}}
            {{if not .IsLogged}}
            <li class="header__navigation-option"
                role="presentation">
                <a href="/trips">
                    Trips
                </a>
            </li>
            <li class="header__navigation-option"
                role="presentation">
                <a href="/login/logout">
                    Logout
                </a>
            </li>
            {{end}}
        </ul>
    </nav>
</header>
<section class="splash">

</section>
{{end}}
