<header class="header">
    <a class="header__logo" href="/">

    </a>
    <nav class="header__navigation">
        <ul class="header__navigation-list">
            <li class="header__navigation-option"
                role="presentation">
                <a href="/">
                    Home
                </a>
            </li>
            <li class="header__navigation-option"
                role="presentation">
                <a href="/authenticate">
                    Login
                </a>
            </li>
            <li class="header__navigation-option"
                role="presentation">
                <a href="/authenticate/register">
                    Sign up
                </a>
            </li>
            <li class="header__navigation-option"
                role="presentation">
                <a href="/authenticate/logout">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
</header>