.place {
    @extend .panel;
    @extend .panel-default;
    min-width: 500px;
    border-radius: 0px !important;

    &--dragging {
        position: absolute;
        z-index: $zlayer-top;
    }

    &__name {
        @extend .panel-heading;
        border-radius: 0 !important;
        background-color: $color-persian-green !important;
        color: $color-white !important;

        &-editor {
            color: $color-black;
        }
    }

    &__drag {
        border: none;
        background-color: transparent;

        &::before {
            content:'\2630';
        }
    }

    &__toolbox {
        @extend .btn-group;
        @extend .pull-right;
        opacity: 0;

        .place__name:hover & {
            opacity: 1;
        }
    }

    &__save {
        @extend .btn;
        @extend .btn-success;
        @extend .btn-xs;
    }

    &__edit {
        @extend .btn;
        @extend .btn-info;
        @extend .btn-xs;
    }

    &__remove {
        @extend .btn;
        @extend .btn-danger;
        @extend .pull-right;
        @extend .btn-xs;
    }

    &__description {
        @extend .panel-body;
    }
}
