.place-adder {
    @extend .input-group;

    &__description {
        @extend .form-control;
        border-radius: 0px !important;
    }

    &__actions {
        @extend .input-group-btn;
    }

    &__name {
        @extend .form-control;
        border-radius: 0px !important;
    }

    &__add {
        @extend %t-btn-add;
        height: 34px;
    }
}
