.trip {
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;

    &__heading {
        @extend .input-group;
        margin-bottom: 10px;
    }

    &__title {
        margin-top: 0px;
        margin-bottom: 0px;

        &-editor {
            @extend .form-control;
            border-radius: 0px !important;

            &--hidden {
                display: none;
            }
        }

        &-toolbox {
            @extend .input-group-btn;
        }

        &-edit {
            @extend %t-btn-edit;
            @extend .pull-right;
            visibility: hidden;

            .trip__heading:hover & {
                visibility: visible;
            }
        }

        &-save {
            @extend %t-btn-add;
        }
    }

    &__place-list {
        padding: 0;
        list-style: none;
    }
}
