.trip {
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;

  &__heading {
    &:hover {
      .trip__title-edit {
        display: inline-block;
      }
    }
  }

  &__title {
    display: inline-block;
    width: 50%;
  }

  &__title-toolbox {
    display: inline-block;
    width: 50%;
  }

  &__title-edit {
    @extend .btn;
    @extend .btn-info;
    @extend .pull-right;
    display: none;
  }

  &__plan {
  }

  &__place-item {
    @extend .panel;
    @extend .panel-default;
    min-width: 500px;

    &--dragging {
        position: absolute;
        z-index: $zlayer-top;
    }
  }

  &__place-list {
    padding: 0;
    list-style: none;
  }

  &__place-name {
    @extend .panel-heading;
  }

  &__place-drag {
    border: none;
    background-color: transparent;

    &::before {
        content:'\2630';
    }
  }

  &__place-remove {
    @extend .btn;
    @extend .btn-danger;
    @extend .pull-right;
    @extend .btn-xs;
  }

  &__place-description {
    @extend .panel-body;
  }

  &__place-adder-description {
    @extend .form-control;
  }

  &__place-adder {
    @extend .input-group;
  }

  &__place-adder-actions {
    @extend .input-group-btn;
  }

  &__place-adder-name {
    @extend .form-control;
  }

  &__place-adder-add {
    @extend .btn;
    @extend .btn-default;
    height: 34px;
  }
}