%trips__list-item-action {
  padding: 10px 15px;
  cursor: pointer;
}

.trips {
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;

  &__list {
    @extend .list-group;
  }

  &__list-item {
    @extend .list-group-item;
    display: flex;
    padding: 0;
  }

  &__list-item:hover {
    .trips__list-item-delete {
      color: $color-white;
      transition: opacity .2s ease-in-out;
      opacity: 1;
    }
  }

  &__list-item-name {
    @extend %trips__list-item-action;
    flex-basis: auto;
    flex-basis: 90%;
  }

  &__list-item-delete {
    @extend %trips__list-item-action;
    transition: opacity .2s ease-in-out;
    color: $color-white;
    opacity: 0;
    background-color: $color-roman;

    &:hover {
      text-decoration: none;
      background-color: $color-fuzzy-wozzy-brown;
    }
  }

  &__adder {
    @extend .input-group;
  }

  &__name {
    @extend .form-control;
  }

  &__actions {
    @extend .input-group-btn;
  }

  &__add {
    @extend .btn;
    @extend .btn-default;
    height: 34px;
  }
}