$header-archor-padding: 15px 10px;

.header {
    display: flex;
    background-color: $color-wild-sand;
    border-bottom: 1px solid $color-mercury;

    &__logo {
        flex-basis: 10%;
        flex-grow: 1;
        display: block;
        padding: $header-archor-padding;
    }

    &__navigation {
        flex-basis: 90%;
        flex-grow: 9;
    }

    &__navigation-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__navigation-option {
        display: inline-block;

        a {
            display: block;
            color: $color-mine-shaft;
            padding: $header-archor-padding;
            font-weight: 600;

            &:hover {
                color: $color-indigo;
            }
        }
    }
}
