$left-menu-active-width: 193px;
$left-menu-inactive-width: 60px;

.left-menu {
    width: $left-menu-inactive-width;
    height: 100vh;
    background-color: $color-white;
    transition: width 0.35s ease-in-out;
    border-right: 1px solid $color-mercury;

    &--is-active {
        width: $left-menu-active-width;
    }

    &__activator {
        font-size: 4rem;
        width: 100%;
        display: block;
        text-align: center;
        cursor: pointer;
        background-color: $color-wild-sand;
        user-select: none;
        color: $color-mine-shaft;
    }

    &__list {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        transition: all 0.35s ease-in-out;
        opacity: 0;
        margin-left: -$left-menu-active-width;

        .left-menu--is-active & {
            opacity: 1;
            width: 100%;
            margin-left: 0px;
        }
    }

    &__list-item {
        padding: 10px;
        width: $left-menu-active-width;
        border-bottom: 1px solid $color-wild-sand;
    }

    &__list-link {
        color: $color-mine-shaft;
        font-size: 1.3rem;

        &:hover {
            color: $color-mine-shaft;
        }
    }
}
