.login-box {
    width: 500px;
    margin: 0 auto;

    &__title {
        text-align: center;
    }

    &__submit {
        @extend .c-btn;
        @extend .c-btn--accept;
    }

    &__signup {
        @extend .c-btn;
        @extend .c-btn--edit;
    }
}
