%trips__list-item-action {
    padding: 10px 15px;
    cursor: pointer;
}

.trips {
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;

    &__list {
        @extend .c-list;
    }

    &__list-item {
        border-left: 1px solid $color-alto;
        border-top: 1px solid $color-alto;
        border-right: 1px solid $color-alto;
        display: flex;
        padding: 0;
        line-height: 50px;

        &:last-child {
            border: 1px solid $color-alto;
        }

        &-name {
            color: $color-persian-green;
            font-size: 22px;

            &:hover {
                color: darken($color-persian-green, 10%);
                text-decoration: none;
            }
        }
    }

    &__list-item-name {
        @extend %trips__list-item-action;
        flex-basis: auto;
        flex-basis: 100%;
    }

    &__list-item-delete {
        @extend %trips__list-item-action;
        transition: all .2s ease-in-out;
        color: $color-white;
        opacity: 0;
        width: 0px;
        background-color: $color-persian-green;
        text-align: center;
        text-indent: 20px;
        overflow: hidden;

        &:hover {
            transition: all .2s ease-in-out;
            text-decoration: none;
            width: 150px;
            background-color: $color-fuzzy-wozzy-brown;
            text-indent: 0px;
        }

        .trips__list-item:hover & {
              color: $color-white;
              transition: all .2s ease-in-out;
              opacity: 1;
        }
    }
}
