.small-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    font-size: 12px;
    line-height: 26px;
    color: $color-wild-sand;
    border-bottom: 1px solid $color-wild-sand;
    padding: 0 5px;
    cursor: pointer;

    &:hover {
      color: $color-silver;
      border-bottom: 1px solid $color-silver;
    }
  }
}
