.tool-tip {
    position: absolute;
    display: none;
    background-color: $color-mine-shaft;
    color: $color-white;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    top: 0px;
    right: -62px;
    min-height: 80px;
    z-index: 99;

    &::before {
        content: '';
        position: absolute;
        top: 31px;
        left: -10px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $color-mine-shaft;
    }
}
